<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackingParadox</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="background: linear-gradient(0.95turn, #ffffff, #b9e1f5, #84fafe);background-repeat: repeat-x;">
    <center>
        <legend class="mx-3 display-4 mb-5">Enter Correct Options for Each Question</legend>
        <p class="mx-3 display-4 mb-5" id="show"></p>
    </center>
    <center>
        <form method="post">
            <p class="h4 mb-4">Only 5 Options(1/2/3/4/5)</p>
            <label>Question 1: </label><input type="number" name="q1" id="q1" required>
            <label>Question 2: </label><input type="number" name="q2" required>
            <label>Question 3: </label><input type="number" name="q3" required>
            <label>Question 4: </label><input type="number" name="q4" required>
            <label>Question 5: </label><input type="number" name="q5" required>
            <center>
                <button type="submit" class="btn btn-outline-dark mt-5">Start Scanning OMR
                    Digitally!!!</button>
        </form>
    </center>
    <br><br><br>
    </center>
    
</body>