<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HackingParadox</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <nav class="w-full flex relative justify-between items-center mx-auto px-4 h-20 p-3" >
    <div class="inline-flex">
      <a class="display-4" href="/"><span  style="color: #ff9d47;">Tech</span><span
          style="color: #000000;">Class</span>
      </a>
    </div>
  </nav>
  <div class="text mx-3" >
    <p class="line-2 anim-typewriter ">Welcome to <span style="color: #d06507;">Tech</span><span
        style="color: #000000;">Class</span></p>
    <p class="text-sm text-gray-500 mx-3 md:text-base dark:text-gray-400">
    </p>
  </div>
  <hr>
  <img src="static/little-classmates-doing-group-task-using-laptops-studying-computer-school.jpg" class="img-fluid main_photo"
    alt="Responsive image">
  <div class="card text-center">
    <br>
    <div class="card-header">
      TechClass Facilities
    </div>
    <div class="card-body">
      <h5 class="card-title">Student Login</h5>
      <p class="card-text">Login Here for using Student Facilities! <br>Get Access to Notes and mock tests and more!</p>
      <a href="/login" class="btn btn-primary">Log In</a>
    </div>
    <br>
    <div class="card-body2">
      <h5 class="card-title">Faculty Login</h5>
      <p class="card-text">Login Here for using Faculty Services! <br>Scan OMR AnswerSheets and Notes!</p>
      <a href="/login_f" class="btn btn-primary">Log In</a>
    </div>
    <br><br>

  </div>